<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Effects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input #txtInput (keyup.enter)="goUser(txtInput.value)" class="form-control mr-sm-2" type="search" placeholder="ID usuario" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="button" (click)="goUser(txtInput.value)">Buscar</button>
      </div>
    </div>
</nav>